.list-card{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.input-check{
    height: 17px;
    width: 17px;
}
.label-icon-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 15px;
    margin-left: 10px;
    background-color: #e0dddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.label{
    font-size: 16px;
}
.checked{
    text-decoration: line-through;
}