.app-container{
  height: 100vh;
  width: 100vw;
  background-image: url("https://img.freepik.com/free-photo/plain-smooth-maroon-paper-background_53876-128606.jpg?w=740&t=st=1693312809~exp=1693313409~hmac=a2aacbfc0702a016b0c2528d4395333f4b548963c45dc962da8fdfdf21dd056a");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-card{
  height: 550px;
  width: 500px;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 10px 0px;
}
.app-card h1{
  text-align: center;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}
.input-button-card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.input{
  padding: 4px 8px;
  outline: none;
  border: 1px solid #565656;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 10px;
  padding-top: 5px;
}
.button{
  padding: 6px 16px;
  border: none;
  color: #ffffff;
  font-size: 13px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  padding-bottom: 7px;
}
.add{
  background-color: #2a86c4;
}
.update{
  background-color: #55e92c;
}
.cancel{
  background-color: #f14b4b;
}
.list-container{
  list-style-type: none;
  padding-left: 0px;
  padding: 15px 30px;
  overflow-y: scroll;
  height: 350px;
}